* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;

  width: 900px;
  height: 550px;
  padding: 20px;

  border: 1px solid black;
}

.orderDetails {
  display: flex;
  flex-direction: column;

  width: 28%;
  padding: 10px;
  overflow: auto;

  border-right: 1px solid black;
}

.orderLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderLineHeadline {
  margin: 0;
  font-size: 16px;
}
.orderLinePrice {
  border-bottom: 1px solid black;
}
.buttonRemove {
  width: 30px;
  height: 30px;

  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;

  background-image: url("assets/bucket.png");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.buttonRemove:active {
  border: 1px solid black;
}

.totalPrice {
  margin-top: auto;

  font-size: 16px;
}
.addItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  width: 72%;
  padding: 10px;
  overflow: auto;
}

